<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dehoog.trakr" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="trakr_dev2.db" />
        <meta-data
            android:name="VERSION"
            android:value="20" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="me.dehoog" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDEedsYQzLtHaCgBekXbp2RkxO3_J9KITg" />

        <activity
            android:name="me.dehoog.trakr.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.dehoog.trakr.activities.MainActivity"
            android:icon="@drawable/logo_all_white"
            android:label=""
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="me.dehoog.trakr.activities.CheckInActivity"
            android:icon="@drawable/logo_all_white"
            android:label="@string/title_activity_check_in"
            android:parentActivityName="me.dehoog.trakr.activities.MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name="me.dehoog.trakr.activities.CardReaderActivity"
            android:icon="@drawable/logo_all_white"
            android:label="@string/title_activity_card_reader"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_list" />
        </activity>
        <activity
            android:name="me.dehoog.trakr.activities.ImportActivity"
            android:icon="@drawable/logo_all_white"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_import" >
        </activity>
    </application>

</manifest>